
absl-py==0.8.1
astor==0.7.1
certifi==2019.9.11
Click==7.0
Flask==1.1.2
pickle5==0.0.11
pickleshare==0.7.5


nltk==3.4.5
numpy==1.16.5
pyreadline==2.1
scipy==1.3.1
six==1.12.0
# tensorflow==2.2.0
# tensorflow-estimator==2.2.0
tflearn==0.5.0

COVID19Py
random2== 1.0.1
json5==0.9.5
